<%= render 'header' %>

<div class="container-fluid">
  <h1> Hodowcy </h1>
  <% @breeders.each do |breeder| %>
      <p> <%= breeder.name %>  </p>
      <p> Wystawione psy: <%= breeder.dogs.count %> </p>
      <p> Przejdz do profilu: <%= link_to 'Zobacz profil', profile_path(breeder.profiles.first)  ,class: 'btn btn-primary' %> </p>
  <% end %>
  </div>
