<%= render 'header' %>

<div class="container-fluid">
  <br>
  <br>
  <h1>
    Hodowcy
  </h1>
  <% @breeders.each do |breeder| %>
    <p>
      <b>Nazwa:</b>
      <%= breeder.name %>
    </p>
    <p>
      <b>Wystawione psy łącznie:</b>
      <%= breeder.dogs.count %>
    </p>
    <p>
      <b>Przejdz do profilu:</b>
      <%= link_to 'Zobacz profil', profile_path(breeder.profiles.first) ,class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
<style>
  h1 {
    font-family: 'Caveat', cursive;

  }
</style>
